backup/*
__pycache__/*
*.pk
*.htk
*.pyc
exp/*
iemocap/sess*
*.hdf5
*.list
*.csv
*.swp
*.pth
*.log
iemocap/emotion_data/
kefu/
run_run.py*
bazel*
build1
.vscode
emo/emo
emo/emo.dSYM
emo/build*
tmpdir
data
exp
